@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: $primaryGrayColor;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: $whiteColor;
  background-color: $activeColor;
  width: 100px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  transition: $transition;

  &:hover {
    background-color: $activeLinkColor;
  }
}
