// Screen sizes
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// // Colors
$headerBackgroundColor: #130841;
$bodyBackgroundColor: #49495f;
$textColor: #111111;

$lightColor: #e2dfe1;
$whiteColor: #ffffff;
$secondaryTextColor: #7d7d7d;
$thirdTextColor: #6e6e6e;

$activeColor: #2282f1;
$activeLinkColor: #64a4ee;
$orangeColor: #f27c32;
$hoverOrangeColor: #e7884d;
$primaryGrayColor: #1e1e35;
// $errorColor: #d60202;

// animation
$transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
